<div class="container">
  <div class="card">
  <div class="card-header">
    <h1>My watch lists</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <div class="row">
        <% @lists.each do |list| %>
        <div class="col-12">
        <%= link_to list.name, list_path(list) %>
      </div>
      <% end %>
    </h5>
    <p class="card-text">A list of movies for different ocasions!</p>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Create a new list", new_list_path %>
    </button>
  </div>
</div>
